version: "3.9"

services:
  pgvector:
    image: pgvector/pgvector:pg18-trixie
    container_name: pgvector
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
      POSTGRES_DB: demo
    ports:
      - "5432:5432"
    volumes:
      - pgvector_data:/var/lib/pgvector/data

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

volumes:
  ollama:
  pgvector_data: